<html>
<head>
    <title>Diários Armazenados</title>
</head>
<body>
<h1>Trabalho de Conclusão de Curso</h1>
<h2>Ferramentas de coleta e análise de dados de licitações públicas</h2>
<hr />
<h3>Aluno: Matheus Yuichi Yamashiro</h3>
<h3>Orientador: Prof. Dr. Kelton Augusto Pontara da Costa<br />Coorientador: Prof. Me. Miguel José das Neves</h3>
<hr />
<h2>Buscar Termo</h2>
<form action={% url 'buscar' %} method="POST">
{% csrf_token %}
<input type="text" name="termo_busca" id="termo">
<input type="submit" value="Buscar">
</form>
<hr />
<h2>Buscar novos diários</h2>
<form action={% url 'baixar_do_redirect' %} method="POST">
{% csrf_token %}
<input type="number" name="ano_do_busca" value="Ano" min="2015" max="2022">
<input type="number" name="mes_do_busca" value="Mês" min="1" max="12">
<input type="submit" value="Buscar DOs">
</form>
<h2>Diários Oficiais Cadastrados na Base</h2>
<table>
    <tr>
        <th>Título</th>
        <th>Data</th>
    </tr>
    <tr>
    </tr>
    {% for diario in diarios %}
    <tr>
        <td><a href={% url 'exibir_do' diario.edicao %}>Diário Oficial Edição nº {{ diario.edicao }}</a></td>
        <td><a href={% url 'exibir_do' diario.edicao %}>({{ diario.dia }}/{{ diario.mes }}/{{ diario.ano }})</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>

